.contacts {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet-sd) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .container {

    @media screen and (min-width: $tablet-sd) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media screen and (min-width: $desktop-sd) {
      padding-left: 180px;
      padding-right: 180px;
    }

    @media screen and (min-width: $desktop-hd) {
      padding-left: 280px;
      padding-right: 280px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    font: 21px/1.43 $base-font;
  }

  &__phone,
  &__email,
  &__social {
    font: inherit;
  }

  &__phone,
  &__address {
    color: $main-regular-color;
  }

  &__phone {
    padding-top: 30px;
    margin-bottom: 15px;
    color: $main-regular-color;

    &:hover,
    &:focus,
    &:active {
      color: $accent-color;
    }
  }

  &__address::after,
  &__email::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: $grey-separator-color;
    margin-top: 30px;
  }

  &__email {
    color: $active-regular-color;

    &:hover,
    &:focus,
    &:active {
      color: $accent-color;
    }
  }

  & .fb {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 30px;

    &__text {
      color: $active-regular-color;
      font: $bold 12px/1.33 $base-font;
      text-transform: uppercase;
      letter-spacing: 1px;
      max-width: 105px;
    }

    &:hover .fb__text {
      color: $accent-color;
    }
  }
}

.contacts-wrapper {
  display: grid;
  gap: 30px;

  @media screen and (min-width: $tablet-hd) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: $grey-background-color;
  border-radius: 12px;
  padding: 30px;

  &__title {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: $grey-text-color;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__field {
    display: block;
    width: 100%;
    border: 1px solid $main-text-color;
    border-radius: 8px;
    font: 16px/1.625 $base-font;
    padding: 15px;

    &--small {
      height: 56px;
    }

    &--large {
      height: 130px;
    }

    &:empty {
      color: $grey-text-color;
    }

    &:valid {
      color: #000;
    }

    &:focus {
      color: #000;
      outline: none;
      border-color: $active-regular-color;
    }

    &:invalid {
      color: #FF0000;
      border-color: #FF0000;
    }

    &:disabled {
      background: #EDEDF7;
      border-color: #EDEDF7;
    }
  }

  &__field+&__field {
    margin-top: 15px;
  }

  &__button {
    margin-top: 30px;
    width: 100%;
  }
}