body {
  box-sizing: border-box;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

// list styles
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a, button {
  outline: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

address {
  font-style: normal;
}

input {
  outline: none;
  border:none;
  background-image:none;
  box-shadow: none; 
}